<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
    </head>

    <body>

        <h2>Dear {0},</h2>

        <br>
        <p>
            The Personal Finance Manager team wishes to inform you that you have {1} due invoice(s):
        </p>

        <div>

            <ul>
                {2}
            </ul>

        </div>

        <br>
        <img src="https://iili.io/HO7eVZN.png" alt="Logo" height="50px" width="50px"/>
        <p>
            <strong>The Personal Finance Manager Team</strong>
        </p>

    </body>

</html>